/* Write your CSS here */
.title {
  font-size: 30px;
  font-family: 'Roboto';
}

.list {
  list-style-type: none;
  margin-bottom: 30px;
}

.button {
  color: #ff0b37;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-color: #ff0b37;
  border-radius: 10px;
  cursor: pointer;
}

.eachLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
